
.img_about {
    margin-right: 50px;
    background-color: #EED6B8;
}

@media screen and (max-width: 540px) {
    .img_about {
        height: 250px;
        margin-right: 0px;
        background-color: #EED6B8;
    }
}

.container_contacts_links{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.container_about {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    flex-flow: row;
    text-align: center;
    border-color: ;
    border-radius: 10px;
    background-color: #EEDFCB;
}
.container_about_text{
    font-family: "Times New Roman", Calibri;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    padding: 50px;
}

.container_contacts {
    text-align: center;
}

