
.img_about {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 16px;
    background-color: #EED6B8;
}

/*@media screen and (max-width: 750px) {*/
    /*.img_about {*/
        /*max-height: 250px;*/
        /*margin-right: 0px;*/
        /*background-color: #EED6B8;*/
    /*}*/
/*}*/

.container_contacts_links a{
    font-style: italic;
    color: blue;
}

.container_about {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    flex-flow: row;
    text-align: center;
    background-color: #EEDFCB;
}
.container_about_text{
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    padding: 50px;
}

.container_contacts {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    background-color: #EEDFCB;
}

.container_contacts_header{
    color: darkmagenta;
}

