body{
	background-color: #fff0da;
}

.header {
	padding-top: 20px;
	margin-bottom: 20px;
	font-family: Geneva, Arial, Helvetica, sans-serif ;
}
/*header*/
.headerContent {
	box-shadow: 0 3px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 2px rgba(0,0,0,0.3);
    background: #ffe4c4 no-repeat;
    height: 73px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding-top: 10px;
}
/*logo*/
.logo {
	display: inline-block;
	float: left;
	font-weight: bold;
}

.logo a {
	text-decoration: none;
	font-size: 24px;
	text-shadow: 0 1px 0 white;
	color: #694a19;
	padding-left: 15px;
}

.logo a:hover {
	color: #bda280;
}

.kakao {
	color: #bda280;
}

.logo a:hover .kakao {
	color: #694a19;
}

/*Навгація*/
ul.nav {
	margin: 0;
	padding: 3px 0 0 0;
	overflow: hidden;
	float: right;
}

ul.nav li {
	list-style: none;
	padding: 0;
	display: inline-block;
}

ul.nav li a {
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 25px;
	display: block;
	color: #694a19;
	text-shadow: 0 1px 0 white;
}

ul.nav li a.active {
	color: #694a19;
}

ul.nav li a:hover {
	color: #9e642c;
}

*{
    margin:0px;
}

/*css for slider*/
#slider {
    height:600px;
    width:100%;
    margin: 50px auto;
    position:relative;
    border-radius:4px;
    overflow:hidden;
}
#image {
    border-radius: 10px;
    height:600px;
    width:100%;
    position:absolute;

}
.left_hold {
    height: 600px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.right_hold {
    height: 600px;
    width: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.left {
    height:50px;
    width:50px;
    position:absolute;
    top:50%;
    left:20px;
    opacity:0;
    transition: all .2s ease-in-out 0s;
}
.right {
    height:50px;
    width:50px;
    position:absolute;
    top:50%;
    right:20px;
    opacity:0;
    transition: all .5s ease-in-out 0s;
}
.left_hold:hover .left {
    opacity:0.6;
}
.right_hold:hover .right {
    opacity:0.6;
}
/*end of css for slider*/