body, li, ul, div{
    margin: 0;
    padding: 0;
    font-family: 'Optima LT W01 Roman',"Palatino Linotype","Book Antiqua","Palatino",serif;
    color: #1c1c1c;
}

body {
    background-color: #f1f6ff;
}

.container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.catalogue_menu {
    height: 50px;
    background-color: #80a6ba;
    text-align: center;

}

.catalogue_menu_item {
    list-style-type: none;
    padding: 10px;
}

.menu_item {
    width: 150px;
    display: inline;
    font-size: 20px;

}

a.menu {
    padding: 5px;
    text-decoration: none;
}

a.menu:link {
    color: #1c1c1c;
}

a.menu:visited {
    color: #1c1c1c;
}

a.menu:active {
    color: #1c1c1c;
}

a.menu:hover {
    border-radius: 10px;
    background-color: #f1f6ff;
    color: #d48241;

}

.container_items {

    margin: 10px;
    background-color: #65889c;
    padding: 10px;
    font-size: 14px;
}

.wrapper {
    clear: both;
    text-align: center;
}
.item_name{
    color:white;
    margin: 0;
}

.price {
    display: inline-block;
    float: left;
    font-weight: bold;
    margin: 5px 15px;
    color:white;
    padding:5px
}

.amount {
    width: 110px;
    float: right;
    display: inline-block;
    font-weight: bold;
    margin: 5px 15px;
    background-color: #d48241;
    color:white;
    border-radius: 10px;
    padding: 5px;
}

.image_ico {
    width: 300px;
    height: 350px;
}