body {
    margin: 0;
    padding: 0;
    background-color: #fff0da;
}
/*header*/
.header {
    height: 100px;
    font-family: Geneva, Arial, Helvetica, sans-serif ;
}

.headerContent {
    box-shadow: 0 3px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 2px rgba(0,0,0,0.3);
    background: #ffe4c4 no-repeat;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
     box-sizing: border-box;
    
}
/*logo*/
.logo {
    display: inline-block;
    float: left;
    font-weight: bold;
    padding: 15px 0 0 20px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    text-shadow: 0 1px 0 white;
    color: #694a19;
}   
  
.logo a:hover {
    color: #bda280;
}

.kakao {
    color: #bda280;
}

.logo a:hover .kakao {
    color: #694a19;
}

/*Навгація*/
ul.nav {
    padding-top: 40px;
    margin: 0;
    overflow: hidden;
    float: right;
    box-sizing: border-box;
}

ul.nav li {
    list-style: none;
   
    display: inline-block;
}

ul.nav li a {
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    padding: 0 25px;
    display: block;
    color: #694a19;
    text-shadow: 0 1px 0 white;
}

ul.nav li a.active {
    color: #694a19;
}

ul.nav li a:hover {
    color: #9e642c;
}

/*css for slider*/
#slider {
    height: 550px;
    width: 100%;
    margin: auto;
    position: relative;
    border-radius:4px;
    overflow: hidden;
}
#image {
    border-radius: 10px;
    height: 450px;
    width:100%;
    position:absolute;

}
.left_hold {
    height: 600px;
    width: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.right_hold {
    height: 600px;
    width: 100px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.left {
    height:50px;
    width:50px;
    position:absolute;
    top:50%;
    left:20px;
    opacity:0;
    transition: all .2s ease-in-out 0s;
}
.right {
    height:50px;
    width:50px;
    position:absolute;
    top:50%;
    right:20px;
    opacity:0;
    transition: all .5s ease-in-out 0s;
}
.left_hold:hover .left {
    opacity:0.6;
}
.right_hold:hover .right {
    opacity:0.6;
}
/*end of css for slider*/
/*css for category*/
.wrap-ctgr {
    width: 974px;
    margin: 100px auto;
    position: relative;
}

.category {
    display: flex;
    width: 974px;
    padding: 40px 0 65px;
    background-color: #EEEEE0;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
    z-index: 1;
} 

.title-category {
    width: 350px;
    height: 40px;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: -20px;
    left: 25px;
    font-family: pacificoregular;
    font-size: 20px;
    word-spacing: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgba(255,255,255,0.5);
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 1px 3px 1px black;
}

.ctg-toy {
    width: 250px;
    border: 1px solid white;
    position: relative;
    align-self: center;
    border-radius: 7px;
    box-shadow: 1px 5px 1px #8B7E66;
}
 
.ctg-accessories {
    width: 250px;
    border: 1px solid white;
    position: relative;
    align-self: center;
    border-radius: 7px;
    box-shadow: 1px 5px 1px #8B7E66;
} 
  
.ctg-bijou {
    width: 250px;
    border: 1px solid white;
    position: relative;
    align-self: center;
    border-radius: 7px;
    box-shadow: 1px 5px 1px #8B7E66;
}

.img-toy {
    background-image: url(../images/teddy.png);
    width: 250px;
    height: 256px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.name-img {
    width: 150px;
    height: 30px;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    bottom: -50px;
    right: 0;
    border: 1px solid white;
    text-align: center;
    padding: 3px 0;
    display: ;
    border-radius: 10px;
    box-shadow: 1px 3px 1px;
     
}

.name-img:hover {
    background-color: rgba(0,0,0,0.9);
    transition: all 0.7s;
}

a {
    display: block;
    text-decoration: none;
    font-family: pacificoregular;
    color: white;
    text-align: center;
    padding-top: 2px;

}  
/*css for category*/
/*css for Novinki*/
.main {
    width: 974px;
    padding-top: 20px;
    position: relative;
    background-color: #EEEEE0;
   
    border-top: 2px solid rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.3);
    margin: 0 auto;

}

.top {
    width: 350px;
    height: 40px;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: -20px;
    left: 25px;
    font-family: 'pacificoregular';
    font-size: 20px;
    word-spacing: 15px;
    letter-spacing: 5px;
    color: rgba(255,255,255,0.5);
    text-align: center;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 4px;
}

.novinki    {
    width: 200px;
    display: inline-block;
    border-radius: 7px;
    position: relative;
    background: #EEEEE0;
    margin: 20px;
    box-shadow: 1px 5px 1px #8B7E66;
}

.hidden {
    width: 200px;
    display: none;
    position: absolute;
    bottom: -76px;
    border-radius: 0px 0px  7px 7px;
    border-radius-bottom: 7px;
    background-color: #CDCDC1;
   
}

.novinki:hover .hidden {
    display: block;
}   
    
.img,
.img2,
.img3,
.img4
        {
    width: 150px;
    height: 170px;
    background-size: contain; ;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin: 0 auto;
        }

.img2 {
    background-image: url(../images/orange.png);
    left: 45px;
    background-size: contain;
}

.img {
    background-image: url(../images/teddy.png);
}

.img3 {
    background-image: url(../images/orange.png);
    left: 45px;
    background-size: contain;
}

.img4 {
    background-image: url(../images/orange.png);
    left: 45px;
    background-size: contain;
}

.title {
    color: #8B7B8B;
    font-weight: bold;
    font-family: arial;
    text-align: center;
}   

.price {
    text-align: right;
    color: #1C1C1C;
    font-family: verdana;
  
}   

.extra {
    
    font-weight: bold;
    font-family: arial;
    border-radius: 3px;
}

.material {
    font-size: 13px;
    font-family: arial;
    color: #1C1C1C;
    font-weight: bold;
    padding: 3px;
}

.size {
    font-size: 13px;
    font-family: arial;
    color: #1C1C1C;
    font-weight: bold;
    padding: 3px;
}

.new {
    width:70px;
    height: 30px;
    color: white;
    font-family: pacificoregular;
    text-align: center;
    background-color: rgba(0,0,0,0.9);
    padding-top: 2px;
    box-sizing: border-box;
    border-radius: 5px 2px 2px 2px;
}

/* Section Footer */

.footer {
    background-color: #BA9567;
}

.footer .inner {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.footer-box1 {
    float: left;
}

.footer-box2 {
    float: right;
}

.footer-box1, .footer-box2 {
    color: #EEDFCB;
    font-size: 16px;
}

