
a{
	text-decoration: none;
}

header{
	width: 940px;
	height: 95px;
	margin: 0 auto; /*вирівн. по центру*/
	background: bisque;
	border: 2px solid #694a19;
 }

.logo{
	background: center left no-repeat;
	width: 122px;
	height: 72px;
	display: block;
	padding-left: 10px;
	float: left;

}
.call{
	font-size: 13px;
	color:#694a19;
	float: left;
	font-family: Arial;
	width: 135px;
	text-align: center;
	padding-top: 10px;
}

.right-side{
	float: right;
}

.top-menu{
	width: 412px;
	height: 33px;
	display: inline-block;
	vertical-align: middle;
	background: #694a19;
	border-radius: 0 0 3px 3px;
	padding: 8px 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-top: 10px;
}

.top-menu a{
	color: bisque;
	margin: 0 6px;
}

.top-menu a:hover{
	text-decoration: underline;
}

.top-menu-line{
	width: 1px;
	height: 16px;
	background: bisque ;
	display: inline-block;
	margin-bottom: -3px;
}

.search{
	width: 246px;
	height: 38px;
	display: block;
	background: #fff;
	border: 2px solid #694a19;
	border-radius: 5px;
	margin-top: 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}







	/*text-align: justify;
	letter-spacing: 1 px;
	height: 15px;
	padding: 32px 10%;
	padding: #2c3e50;
	color: #fff;
	background-color: grey;
}

header h1, header nav{
	display: inline-block;
}

header::after{
	content: '';
	display: inline-block;
	width: 100%;
}

header h1{
	height: 100%;
}

header h1::before{

	vertical-align: middle;
	height: 100%;
}*/